!!! 5
%html{:lang => "en"}
  %head
    %title= "CSIL Pollr"
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/app.css"}
    %script{:src => "./js/jquery-1.7.2.min.js"}
    %script{:src => "./js/lib/ember-0.9.7.1.min.js"}
  %body
    #status_box
    #header
      %h1= "CSIL @ UCSB"
    #hosts
    %script(type='text/x-handlebars')
      %ul
        %li cartman: 
        %li calvin: {{App.calvin.name}}
    #footer
      %p.fleft
        %a{:href => "https://github.com/tjeezy/csilwho", :title => "View source on github"}= "View source on github"
    %script{:src => "./js/app.js"}
