!!! 5
%html{lang: "en"}
  %head
    %title= "Labmapper"
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap-responsive.css"}
  %body
    .container
      .row
        .span12
          %h1="Hi"
      .row
        .span4
          .row
            .span1
              coputlation
            .span1
              bob
            .span1
              hroace
            .span1
              bob
          .row
            .span1
              michal
            .span1
              leonardo
            .span1
              marshton
            .span1
              baratheon
        .span4
          .row
            .span2
              &nbsp
        .span4
          .row
            .span1
              coputlation
            .span1
              bob
            .span1
              hroace
            .span1
              bob
