!!! 5
%html{lang: "en"}
  %head
    %title= "Labmapper"
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap-responsive.css"}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
  %body
    .container
      .row
        .span12
          %h1="Hi"
      .row
        .span2
          .row
            %h1="Test"
        .span10
          .row
            .span4
              .row
                .span1
                  coputlati
                .span1
                  bob
                .span1
                  hroace
                .span1
                  bob
              .row
                .span1
                  michal
                .span1
                  leonardo
                .span1
                  marshton
                .span1
                  baratheon
            .span2
              .row
                .span2
                  &nbsp
            .span4
              .row
                .span1
                  coputlati
                .span1
                  bob
                .span1
                  hroace
                .span1
                  sylvester
              .row
                .span1
                  sylvester
                .span1
                  yolanda
                .span1
                  bart
                .span1
                  science
    %script{:src => "./js/jquery-1.7.2.min.js"}
    %script{:src => "./js/bootstrap.js"}

